.clock-custom-container{
    display: inline-block;
    font-size: 5.5em;
    vertical-align: top;
    width: 2.6em;
}

.clock-custom-button-container{
    display:inline-block;
    width: 30%;
    
}